.Header {
  .top_line {
    width: calc(100% - 160px);
    margin: 0 auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #8291a3;

    .menu_left,
    .menu_rigth {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .menu_left {
      width: 724px;
      height: 17px;

      p {
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
      }
      .p_with_icon {
        position: relative;
      }
      .p_with_icon:after {
        background-image: url("../images/icons/icon_maps_ad.svg");
        width: 12px;
        height: 15px;
        left: -15px;
        top: -1px;
      }
    }
    .menu_rigth {
      font-weight: 500;
      width: 273px;
      p {
        position: relative;
      }
      .p_with_icon::after {
        background-image: url("../images/icons/icon_favorite.svg");
        width: 18px;
        height: 20px;
        right: -30px;
        top: -1px;
      }
      a {
        text-decoration: none;
        color: #664ef9;
      }
    }
  }
  .bottom_line_width {
    background-color: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);

    .bottom_line {
      width: calc(100% - 160px);
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .logo {
        font-size: 24px;
        font-weight: 1000;
        text-transform: uppercase;
        span {
          color: #ffd54f;
        }
      }
      .menu {
        width: calc(100% - 132px - 224px);
        height: 17px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        p {
          font-size: 14px;
          font-weight: 600;
          margin: 0 80px 0 0;
        }
        .p_with_icon {
          position: relative;
          height: 100%;
          max-width: 180px;
          margin-left: 84px;
          margin-right: 104px;
        }
        .p_with_icon:after {
          width: 22px;
          height: 23px;
          right: -35px;
          top: -3px;
          background-image: url("../images/icons/icon_maps_flat.svg");
        }
      }
      button {
        width: 224px;
        height: 37px;
        background: linear-gradient(90deg, #9d94ff 0%, #6b50e9 94.5%);
        border-radius: 19px;
        border: 0;
        font-weight: 700;
        font-size: 14px;
        color: #ffffff;
      }
    }
  }

  .p_with_icon:after {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
  }
}
